<!-- 4th page of portfolio -->
<div class="vw_container" id="container_4">
  <div class="cards_playground">
    <!-- project - 1 -->
    <div class="cards" id="first_card">
      <img src="<%= data.project_img[0] %>" alt="first_project" />
      <h2><%= data.project_name[0] %></h2>
    </div>

    <!-- project - 2 -->
    <div class="cards" id="second_card">
      <img src="<%= data.project_img[1] %>" alt="first_project" />
      <h2><%= data.project_name[1] %></h2>
    </div>

    <!-- project - 3 -->
    <div class="cards" id="third_card">
      <img src="<%= data.project_img[2] %>" alt="first_project" />
      <h2><%= data.project_name[2] %></h2>
    </div>

    <!-- project - 4 -->
    <div class="cards" id="fourth_card">
      <img src="<%= data.project_img[3] %>" alt="first_project" />
      <h2><%= data.project_name[3] %></h2>
    </div>

    <!-- project - 5 -->
    <div class="cards" id="fifth_card">
      <img src="<%= data.project_img[4] %>" alt="first_project" />
      <h2><%= data.project_name[4] %></h2>
    </div>

    <!-- project - 6 -->
    <div class="cards" id="sixth_card">
      <img src="<%= data.project_img[5] %>" alt="first_project" />
      <h2><%= data.project_name[5] %></h2>
    </div>

    <!-- project - 7 -->
    <div class="cards" id="seventh_card">
      <img src="<%= data.project_img[6] %>" alt="first_project" />
      <h2><%= data.project_name[6] %></h2>
    </div>
  </div>
</div>
