<!-- 4th page of portfolio -->
<div class="vw_container" id="container_4">
  <div class="cards_playground">
    <div class="cards" id="first_card">
      <img src="<%= data.project_img[0] %>" alt="first_project" />
      <h2>Ubuntu inspired Portfolio</h2>
    </div>
    <div class="cards" id="second_card">
      <img src="<%= data.project_img[1] %>" alt="first_project" />
      <h2>Ubuntu inspired Portfolio</h2>
    </div>
    <div class="cards" id="third_card">
      <img src="<%= data.project_img[2] %>" alt="first_project" />
      <h2>Ubuntu inspired Portfolio</h2>
    </div>
    <div class="cards" id="fourth_card">
      <img src="<%= data.project_img[3] %>" alt="first_project" />
      <h2>Ubuntu inspired Portfolio</h2>
    </div>
    <div class="cards" id="fifth_card">
      <img src="<%= data.project_img[4] %>" alt="first_project" />
      <h2>Ubuntu inspired Portfolio</h2>
    </div>
    <div class="cards" id="sixth_card">
      <img src="<%= data.project_img[5] %>" alt="first_project" />
      <h2>Ubuntu inspired Portfolio</h2>
    </div>
    <div class="cards" id="seventh_card">
      <img src="<%= data.project_img[6] %>" alt="first_project" />
      <h2>Ubuntu inspired Portfolio</h2>
    </div>
  </div>
</div>
