    <%- include("header.ejs") %>
    <body>

<!-- 1st page -->
        <div class="vw_container" id="container_1">
            <div id="semi_container_1_1">
                <h1>Hi, I am Nishant</h1>
                <h3>& you can call me - <%= data.name %></h3>
                <p>and the age is approx - <%= data.age %></p>
            </div>
            <div id="semi_container_1_2">
                <img src="<%= data.url %>" alt="Portfolio image" id="personal_img">
            </div>
        </div>


<!-- 2nd page -->
         <div class="vw_container" id="container_2">
            <h1>Hi, I am Nishant</h1>
            <h3>& you can call me - <%= data.name %></h3>
            <p>and the age is approx - <%= data.age %></p>
            <img src="<%= data.url %>" alt="Portfolio image" id="personal_img">
        </div>



        
            <%- include("footer.ejs") %>
    </body>
    </html>